<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Score</title>
</head>
<body>
    <p>{{ username }}: {{ user_score }}</p>
</body>
</html>
